/* General */
* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto', sans-serif;
}
@font-face{
    font-family:"logo-font";
    src:url(./fonts/MarcellusSC-Regular.ttf)
}
@font-face{
    font-family:"h1-font";
    src:url(./fonts/BerkshireSwash-Regular.ttf)
}
@font-face{
    font-family:"link-font";
    src:url(./fonts/SpecialElite-Regular.ttf)
}

/* body{
    background:#f7e3e5;
} */



/* Header */
header {
    height: 66px;
    font-size:15px;
    font-weight:bold;
}

.logo{
    width:100px;
    color:grey;
    margin-right:auto;
}

.logo span{
    margin-left:10px;
    white-space:nowrap;
    text-transform:uppercase;
    font-family:"logo-font",sans-serif;

}
/* Body */
.mainwrapper{
    margin-top:0px;
    display:flex;
    flex-direction:column;
}
/* Hero */
.hero {
    /* padding:20px; */
    height: 600px;
    background-image:
        linear-gradient(
            -170deg,
            rgba(221, 207, 207, 0) 30%,
            rgba(54, 50, 50, 0.993)), 
            url('./images/books-1.jpg');
    background-size:cover;
    background-position:50% 50%;
    display:flex;
}

.container{
    height:550px;
    display:flex;
    align-items:flex-end;
}
.hero-content{
    width:60%;
}
h1{
    font-family:"h1-font",sans-serif;
    font-size:50px;
    color:white;
}

.hero button{
    color:white;
    background:grey;
    border:none;
    margin-top:10px;
    font-size:20px;
    font-family:"link-font",sans-serif;
}

/* Main */
.wrapper{
    height:600px;
    background-image:url(./images/writing-3.jpg);
    background-size:cover;
    background-position:50% 50%;
}
.quotebox{
    width:60%;
    height:300px;
    display:flex;
    margin-top: 150px;
    margin-left:20px;
}

.Btn{
    display:flex;
    flex-direction:row;
}