@font-face{
    font-family:'font1';
    src:url(./../fonts/PermanentMarker-Regular.ttf)
}


.container{
    margin-top:10px;
    color:white;
    /* margin-left:10px; */
    white-space:nowrap;
    font-family:"font1",sans-serif;
    font-size:20px;
}
.logo{
    margin-right:auto;
}

body{
    background-image:url('./../images/travel-7.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:10% 10%;
}

/* Footer */
/* footer {
    height: 300px;
    background: rgb(248, 192, 192);
    padding:5px 0px;
}

footer h2{
    color:#4d4d4d;
    font-family:"footer-header-font",sans-serif;
    font-weight:bold;
    font-size:0.9em;
    text-transform:uppercase;
    margin:10px 0 20px 0;
}

footer ul{
    margin:0 0 20px 0;
    padding:0;
}

footer li{
    list-style:none;
    margin-top:8px;
    font-family:"footer-font",sans-serif;
    font-size:25px;
}

footer a{
    color:gray;
    text-decoration:none;
    font-size:0.8em;
    font-weight:300;
}

.social-icons{
    display:flex;
}

.social-icons li{
    flex: 1;
} */